@media only screen and (min-width: 600px) {
  :root {
    font-size: 1.0em;
    font-family:-apple-system, BlinkMacSystemFont, "Helvetica Neue", Roboto, Oxygen-Sans,Ubuntu, Cantarell, sans-serif;
    line-height: 1.25;
  }

  h1,
  h2 {
    font-family: 'Indie Flower', cursive;
    line-height: 0.4;
  }

  .text {
    max-width: 75vw;
  }
}
@media only screen and (min-width: 900px) {
  :root {
    font-size: 1.0em;
    font-family:-apple-system, BlinkMacSystemFont, "Helvetica Neue", Roboto, Oxygen-Sans,Ubuntu, Cantarell, sans-serif;
    line-height: 1.25;
  }

  h1,
  h2 {
    font-family: 'Indie Flower', cursive;
    line-height: 0.4;
  }

  .text {
    max-width: 50vw;
  }
}
